{% extends 'shop/basic.html' %}

{% block title%} Index Page - Shop App{% endblock %}

{% block css %}
      .grid-container {
            display: grid;
            column-gap: 50px;
            row-gap: 50px;
            grid-template-columns: auto auto auto;
            background-color: #FAF9F6;
            padding: 50px;
      }

      .grid-item {
          display: flex; /* Use flexbox */
          justify-content: center; /* Center content horizontally */
          align-items: center; /* Center content vertically */
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.8);
          padding: 20px;
          font-size: 30px;
          text-align: center;
      }
      .grid-item  img {
        width: 100%; /* Set the image width to fill the container */
        height: auto; /* Automatically adjust the height */
        max-width: 100%; /* Ensure the image doesn't exceed its original size */
        max-height: 100%; /* Ensure the image doesn't exceed its original size */
        margin: auto; /* Center the image horizontally */
        display: block; /* Remove any default inline display */
      }
{% endblock %}
    
{% block body %}  
{% load static %} 
    <!-- creating a grid layout and each grid will show the product in card format -->
    <div class="grid-container">
      <!-- since grid-item is repeating for each product, therefore we can run for loop from 1 to no of products in the database and create grid item for it -->
      
      {% for product in products%}
      <div class="grid-item">
        <div class="card" style="width: 28rem;">
          <img src='/media/{{product.image}}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.product_name}}</h5>
            <p class="card-text">{{product.desc}}</p>
            <p class="card-text">Price: {{product.price}} Rs</p>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </div>
      {% endfor %}
      

    </div>

  {% endblock %}  