{% extends 'shop/basic.html' %}

{% block title%} Index Page - Shop App{% endblock %}

{% block css %}
      .grid-container {
            display: grid;
            column-gap: 50px;
            row-gap: 50px;
            grid-template-columns: auto auto auto;
            background-color: #FAF9F6;
            padding: 50px;
      }

      .grid-item {
          display: flex; /* Use flexbox */
          justify-content: center; /* Center content horizontally */
          align-items: center; /* Center content vertically */
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.8);
          padding: 20px;
          font-size: 30px;
          text-align: center;
      }
{% endblock %}
    
{% block body %}  
{% load static %} 
    <!-- creating a grid layout and each grid will show the product in card format -->
    <div class="grid-container">
      <!-- first grid item -->
      <div class="grid-item">
        <!-- card to display 1st product -->
        <div class="card" style="width: 18rem;">
          <img src="{%static 'shop/watch.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">1st Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="grid-item" >
        <!-- second grid item -->
        <!-- card to display 2nd product -->
        <div class="card" style="width: 18rem;" >
          <img src="{%static 'shop/watch.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">2nd Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      

      <div class="grid-item">
        <!-- Third grid item -->
        <!-- card to display 3rd product -->
        <div class="card" style="width: 18rem;"  >
          <img src="{%static 'shop/watch.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">3rd Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>


      <div class="grid-item">
        <!-- Fourth grid item -->
        <!-- card to display 4th product -->
        <div class="card" style="width: 18rem;">
          <img src="{%static 'shop/watch.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">4th Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> 

      <div class="grid-item">
        <!-- Fifth grid item -->
        <!-- card to display 5th product -->
        <div class="card" style="width: 18rem;">
          <img src="{%static 'shop/watch.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">5th Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

    </div>

  {% endblock %}  